<launch>
  <arg name="robot_name"        default="car1" />
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node" />
  <arg name="camera_name" default="/$(arg robot_name)/zed2/zed_node/left" />
  <!--arg name="camera_frame" default="$(arg robot_name)/zed2_left_camera_optical_frame" /-->
  <arg name="camera_frame" default="$(arg robot_name)/apriltag" />
  <arg name="image_topic" default="image_rect_gray" />
  

  <node pkg="tf" type="static_transform_publisher" name="april_sanity_tf" args="0 0 0 -0.5 0.5 -0.5 0.5 $(arg robot_name)/zed2_left_camera_frame $(arg robot_name)/apriltag 100"/>

  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="$(arg node_namespace)" />
  <rosparam param="$(arg node_namespace)/standalone_tags" subst_value="True">[{id: 46, size: 0.15, name: "$(arg robot_name)/shelf_car1"},
                                                                              {id: 51, size: 0.15, name: "$(arg robot_name)/shelf_car2"},
                                                                              {id: 80, size: 0.15, name: "$(arg robot_name)/home"},
                                                                              {id: 215, size: 0.15, name: "$(arg robot_name)/A_site"},
                                                                              {id: 8, size: 0.15, name: "$(arg robot_name)/marker1"},
                                                                              {id: 140, size: 0.15, name: "$(arg robot_name)/marker2"},
                                                                              {id: 311, size: 0.15, name: "$(arg robot_name)/marker3"},
                                                                              {id: 241, size: 0.15, name: "$(arg robot_name)/B_site"}]</rosparam>
  
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>
</launch>
